.body {
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.whole-page {
}

.topbar {
    background-image: ;
    background: #191919;
    border: 1px solid #F2F2F3;
    margin: 0 0 0 5%;
    width: 90%;

    box-shadow:
        0 1px 1px rgba(0, 0, 0, .15), 
        0 4px 0 -2px #eee, 
        0 6px 1px -2px rgba(0, 0, 0, .15), 
        0 8px 0 -4px #eee, 
        0 12px 1px -5px rgba(0,0,0,0.15),


        0 -4px 0 -2px #eee, 
        0 6px 1px -2px rgba(0, 0, 0, .15), 
        0 -7.5px 0 -4px #eee, 
        0 12px 1px -5px rgba(0,0,0,0.15); 
}


.content {
    background: #7A9898;
    border: 1px solid #F2F2F3;
    margin: 12px 12px 12px 12px;

    box-shadow:
        0 1px 1px rgba(0, 0, 0, .15), 
        0 4px 0 -2px #eee, 
        0 6px 1px -2px rgba(0, 0, 0, .15), 
        0 8px 0 -4px #eee, 
        0 12px 1px -5px rgba(0,0,0,0.15),


        0 -4px 0 -2px #eee, 
        0 6px 1px -2px rgba(0, 0, 0, .15), 
        0 -7.5px 0 -4px #eee, 
        0 12px 1px -5px rgba(0,0,0,0.15); 
}

.footer  {
	background: #191919;
	border: 1px solid #F2F2F3;
	margin: 0 0 0 5%;
	width: 90%;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, .15), 
        0 4px 0 -2px #eee, 
        0 6px 1px -2px rgba(0, 0, 0, .15), 
        0 8px 0 -4px #eee, 
        0 12px 1px -5px rgba(0,0,0,0.15),


        0 -4px 0 -2px #eee, 
        0 6px 1px -2px rgba(0, 0, 0, .15), 
        0 -7.5px 0 -4px #eee, 
        0 12px 1px -5px rgba(0,0,0,0.15); 

}



.name,
.topmenu,
.search_form  {
    float: left;
}

.name {
    margin: 8px 5px;
}

.upload_button {
    float: right; 
    border: none;
    color: red;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 50px 10px 5px 0;
    border-radius: 5px 0px;
}

.clear {
    clear: both;
}

::-webkit-input-placeholder {
    color: orange;
    background-color: #191919;
}

::moz-placeholder {
    color: orange;
    background-color: #191919;
}

::ms-input-placeholder {
    color: orange;
    background-color: #191919;
}

.topmenu {
    padding-top: 40px;
}

.topmenu a {
    float: left;
    color: #69bbd2;
    border-radius: 0px 10px;
    border: 1px solid #69bbd2;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold; 
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    margin: 0 5px;
}
    .topmenu a:hover {
        color: red;
        border: 1px solid red;
        border-radius: 10px;
    }


.content-group:before,
.content-group:after {
    content: "";
    display: table;
}

.content-group:after {
    clear: both;
}

.content-list {
    float: none;
}





.catagories,
.videos,
.ad {
    float: left;
    text-align: center;
    border:  2px solid transparent;
}

.catagories {
    width: 25%;
}
.videos {
    width: 54%;
    background: #EEEEEE;
}
.ad {
    width: 20%;
}

.content li {
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding: 5px 2.5px;
}
.content li:nth-child(even){
    background-color: #E0E0E0;
    border-radius: 10px 0px 10px 0px;
}

.footer-links ul {
    width: 100%;
}

.footer-links li {
    text-align: center;
    float: left;
    margin: 5px 5px 5px 5px;
    padding: 5px 2.5px;
}
/*
.footer-links li:nth-child(even){
    background-color: #EAEAEA;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 0px 10px 0px;
}*/

.footer-links:before,
.footer-links:after {
    content: "";
    display: table;
}
.footer-links:after {
    clear: both;
}

.footer-links-primary,
.footer-links-secondary {
    float: right;
    vertical-align: middle;
    text-align: center;
    margin-right: -300px;
}

.back-to-top {
    background-color: black;
    background-color: rgba(0, 0, 0, .50);
    position: fixed;
    bottom: 2em;
    right: 2.5em;
    color: white;
    padding: .25em .5em;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}
    .back-to-top:hover {
        color: #69bbd2;
    }

li {
    list-style-type: none;

}
.footer li a {
    text-decoration: none;
    color: yellow;
    font-size: 16px;
}

table, tr, td {
    border: 1px solid #60b0d0;
    border-collapse: collapse;
    background-color: #69bbd2;
}

.videos img {
    width: 100%;
}

.img-rounded{
    border-radius:6px
}
.img-circle{
    border-radius:50%
}
